# Lesson 1 - Basics of Python
## Contents:
1. Displaying Outputs Using "print"
2. Common Data Types
3. Operators
4. Types of Loops

## Displaying Outputs Using "print

For python, to generate an output to be displayed, we use the "print" function.
> print(\<expression\>)

Run the codes below to explore how the "print" function works!

In [5]:
print("Hello World!")

Hello World!

In [6]:
print(3)

3

## Common Data Types
In python, there are many data types used to store data. Some of the common types are listed below.    |t |

| **Types of Data** | **Python Type Name** | **Examples**                    |
|-------------------|----------------------|---------------------------------|
| Integers          | int                  | -1, 0, 2, 1000                  |
| Strings           | str                  | "hi", "1", "A", "I am a human." |
| Boolean           | bool                 | True, False                     |
| Decimal Floats    | float                | 0.12, 1.544, 2901.099902        |

We can use the type() function to examine the data type of the data.

In [10]:
integer = 3
strings = "Hi!"
bool = True
floats = 0.2398

print(type(integer))
print(type(strings))
print(type(bool))
print(type(floats))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

## Operators
Python uses many operators to evaluate expressions.

### Assignment 
The "=" (equal) sign is used to assign a value to a variable. 

In the example below, we assign 5000 to the variable: income. We also assign 200 to the variable: expenditure.

In [12]:
income = 5000
expenditure = 200
print(income)
print(expenditure)

savings = income - expenditure

print(income <= expenditure)

5000
200
False

### Arithmatic 
Some operators are used to perform mathematical operations.

| **Operator** | **Meaning**               | **Example** |
|--------------|---------------------------|-------------|
| +            | Addition                  | a + b       |
| -            | Subtraction               | a - b       |
| *            | Multiplication            | a * b       |
| /            | Division                  | a / b       |
| //           | Floor Division (Quotient) | a // b      |
| %            | Modulo (Remainder)        | a % b       |
| **           | Exponential (Power)       | a ** b      |

In [13]:
a = 2000
b = 1000
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**2)

3000
1000
2000000
2.0
2
0
4000000

#### Sample Code 1
The code below allows us to use the floor division (//) to find the number of complete weeks in a month as well as the remaining days (remainder).

In [14]:
num_days = 31
print(num_days//7)
print(num_days%7)

4
3

#### Sample Code 2
Say we have 35 people and we want to split them into groups of 6. The code below allows us to use floor division and modulo to find the number of complete groups and the remaining people that cannot form a group of 6. We will get 5 groups of 6 and 5 remainding people.

In [15]:
people = 35
print(people//6)
print(people%6)

5
5

### Comparison
Some operators are used to perform comparisons. Such comparisons are useful, especially in setting up conditions for loops, which we will cover in the later portion.

| **Comparison Operator** | **Meaning**              | **Example** |
|-------------------------|--------------------------|-------------|
| ==                      | Is Equal To              | c == d      |
| !=                      | Is Not Equal To          | c != d      |
| <                       | Less Than                | c < d       |
| <=                      | Less Than or Equal To    | c <= d      |
| >                       | Greater Than             | c > d       |
| >=                      | Greater Than or Equal To | c >= d      |      |

The result of the comparison is returned as a boolean value (True or False).

In [17]:
c = 10
d = 8

print(c==d)
print(c!=d)
print(c<d)
print(c<=d)
print(c>d)
print(c>=d)

False
True
False
False
True
True

## Types of Loops
### Selection
Selection statements allow the computer to make a choice based on a condition. One such statement is the if...else.

if [condition]: <br>
&nbsp; &nbsp; [sequence of statements] <br>
elif [condition]:<br>
&nbsp; &nbsp; [sequence of statements 2]<br>
else:<br>
&nbsp; &nbsp; [sequence of statements 3]

#### Sample Code 3
The code below compares num1 and num2. Based on the conditions given in the if, elif and else statements, the code will execute different print statements.

In [18]:
num1 = 100
num2 = 50
if num1 > num2:
    print("Number 1 is bigger than number 2.")
elif num1 == num2:
    print("Number 1 is equal to number 2.")
else:
    print("Number 2 is bigger than number 1.")

Number 1 is bigger than number 2.

### Definite Iteration
The for loop is used to loop a set of statements or actions for a fixed number of times. It is particularly useful if we know how many times we have to execute a set of statements. 

for i in range(start, end, step):<br>
&nbsp; &nbsp; [sequence of statements]<br>

**start**: starting number of the value i <br>
**end**: ending + 1 number of the value i (example if we want the last value of i to be 5, we have to input 6 here.) <br>
**step**: every "how many" numbers (example if step is 2, and we start from 1, we will take 1, 3, 5, 7, 9 and so on) <br>

#### Sample Code 4

The code only has 1 parameter for range. In this case, the single parameter will be taken as the end. The start will be taken as default 0 and step as 1.

In [19]:
for i in range(4):
    print(i)

0
1
2
3

#### Sample Code 5
The code now has 2 parameters for range. In this case, the parameters will be taken as start and end. The step will be taken as default 1.

In [20]:
for i in range(1,5):
    print(i)

1
2
3
4

#### Sample Code 6
The code now has the full 3 parameters. In this case, the parameters will be taken as start, end and step respectively. It is possible to have negative step and print from largest number to smallest.

In [21]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

#### Sample Code 7
The code below is used to split people into groups. The code will output the number of groups and the number of people in each group.

In [23]:
people = 63
for i in range(1, people+1):
    remainder = people%i
    if remainder == 0: 
        divisor = i
        quotient = people//i
        print(divisor, quotient)
        print("You can form", quotient, "groups of", divisor, "people.")

1 63
You can form 63 groups of 1 people.
3 21
You can form 21 groups of 3 people.
7 9
You can form 9 groups of 7 people.
9 7
You can form 7 groups of 9 people.
21 3
You can form 3 groups of 21 people.
63 1
You can form 1 groups of 63 people.

### Conditional Iteration
The while loop is an example of conditional iteration. It will continue to repeat itself as long as the condition given is met. Hence, it is important to set the correct condition to end the loop to prevent it from running indefinitely.

while [condition]:<br>
&nbsp; &nbsp; [sequence of statements]

#### Sample Code 8
The code below has a variable counter. For every pass of the loop, the value of counter increases by 1. When the value reaches 5, the loop stops.

In [24]:
counter = 0
while counter < 5:
    counter += 1
    print(counter)  #This will print the counter

1
2
3
4
5

## Practice Questions

### Question 1
Calculate the sum of 0 to 100 using loops (e.g. 0+1+2+3+4+...+100).

In [26]:
#FOR LOOP METHOD
max = 100
sum = 0
for i in range(0, max+1):
    sum += i
print(sum)

5050

In [29]:
#WHILE LOOP METHOD
counter = 0
end = 100
sum = 0
while counter <= end:
    sum += counter #sum = sum + counter
    counter += 1 #counter = counter + 1
print(sum)

5050

### Question 2
Using if...else statement, complete the following question. If a number is even, subtract 1 from it. If a number is odd, add 1 to it.

In [30]:
number = 11               #Given number
if number%2 == 0:         #To find even, remainder = 0
    number = number - 1   #Subtract 1 from even number
elif number%2 == 1:       #To find odd, remainder = 1
    number = number + 1   #Add 1 to the odd number
print("The new number is:", number)

The new number is: 12

In [31]:
number = 12               #Given number
if number%2 == 0:         #To find even, remainder = 0
    number = number - 1   #Subtract 1 from even number
elif number%2 == 1:       #To find odd, remainder = 1
    number = number + 1   #Add 1 to the odd number
print("The new number is:", number)

The new number is: 11

## Take-home Task (Optional)
With 2 numbers given, for example 3 and 5.
Find the product (multiply) of the 2 numbers, without using the mutiplication symbol.

Hint: Use a loop to add the numbers the required number of times. (e.g. 3x5 = 15, so make a loop to execute
3+3+3+3+3=15)